<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472516831188-a64vablcakisu2954pmu39nmllu0g3s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472516831188-a64vablcakisu2954pmu39nmllu0g3s9</string>
	<key>API_KEY</key>
	<string>AIzaSyApvfTh51nkqgx9b8Uvu4vSLmhrpkvD9ho</string>
	<key>GCM_SENDER_ID</key>
	<string>472516831188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackdu</string>
	<key>PROJECT_ID</key>
	<string>focus-video-8809e</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-video-8809e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472516831188:ios:02f2dc2599715700a65841</string>
</dict>
</plist>